/* Navbar.css */

.navbar-container {
  background-color: white; /* Set background color */
  border: 1px solid #dcdcdc; /* Add border */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  padding: 10px; /* Add padding */
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-link {
  text-decoration: none;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #007bff;
}
